[Unit]
Description=emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=simple
ExecStart=/usr/bin/emacs --fg-daemon
ExecStop=/usr/bin/emacsclient --eval "(progn (recentf-save-list) (kill-emacs))"
Environment=SSH_AUTH_SOCK=%t/keyring/local_agent
Restart=always

[Install]
WantedBy=default.target
