[submodule ".config/tmux/tpm"]
	path = .config/tmux/tpm
	url = https://github.com/tmux-plugins/tpm
	branch = master
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs
	branch = develop
[submodule ".config/awesome"]
	path = .config/awesome
	url = https://github.com/Dietr1ch/awesome-copycats.git
	branch = mine
